*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js

# Cached state & deployments
last-canvas-state.json
deployed-cdk.tf.json
deployments/